<%= form_for (article) do |f| %>

	<%= f.hidden_field :user_id, :value => current_user.id %>
	<!-- タイトル -->
	<%#= f.text_field :title, class: "..." %>

	<%#= f.label :image %>
	<%= f.file_field :image %>

	コメント
	<%= f.text_field :body, class: "..."%>
	<br>

	<div class="field">
		<%= f.label :interest_list, "tag" %><br>
		<%= text_field_tag 'article[interest_list]', article.interest_list.join(',') %>
	</div>

	<%= f.submit "保存", class: "..." %>

<% end %>