<%= stylesheet_link_tag  "SP_page/timeline", :media => "all" %>

<div class="container">
	<div class="row">
		<div class="col-xs-12 border background_color add_code">
			<%= link_to "コーデを追加", new_article_path, class: "add_code_text" %>
		</div>
	<div>
	<div class="row">
		<% @articles.each do |article| %>
			<ul class="margin col-lg-4 col-md-6 col-xs-12">
				<li class="border">
					<article class="background_color">

						<!-- プロフィール画像(機能しなかったのでコメントアウト) -->
						<%# if user_image.present? %>
					    	<%#= image_tag user_image.url %>
					    <%# else %>
					    	<%#= image_tag '画像がありません' %>
					    <%# end %>

						<div>
					    <!-- ユーザー名 -->
					    	<span class="user_name">
					    		<%= User.name %>
					    	</span>

						<!-- フォロー -->
							<% if article.user_id != current_user.id %>
								<% if article.user.followed_by? current_user %>
									<div class="follow not_follow"><%= link_to "フォローする", user_relationships_path(article.user), method: :delete %></div>
								<% else %>
									<div class="follow followed"><%= link_to "フォロー中", user_relationships_path(article.user), method: :article %></div>
								<% end %>
							<% end %>
						</div>

						<!-- タイトル -->
						<div class="title">
							<%= link_to article.title, article_path(article.id) %>
						</div>

						<!-- 画像 -->
						<div class="image_article">
							<% if article.image? %>
								<%= image_tag article.image.url %>
							<% else %>
								<p>画像がありません</p>
							<% end %>
						</div>

						<!-- タグ -->
						<%= render 'articles/tag_list', tag_list: article.interest_list %>


						<!-- いいね -->
						<% if article.favorited_by? current_user %>
							<%= link_to image_tag('fav.png', {:width => '25', :height => '25'}), article_favorites_path(article), method: :delete %>
							<%#= link_to "いいね済", article_favorites_path(article), method: :delete %>
						<% else %>
							<%= link_to image_tag('un_fav.png', {:width => '25', :height => '25'}), article_favorites_path(article), method: :article %>
						<% end %>
						<!-- 何個いいねがあるかもあとで書き足したい -->

						<!-- ここらへんにコメント欄を作成予定 -->

					</article>
				</li>
			</ul>
		<% end %>
	</div>
</div>

<%= paginate @articles %>

