<h1>新規投稿</h1>

<%= form_for (@article) do |f| %>
	タイトル
	<%= f.text_field :title, class: "..." %>
		コメント
	<%= f.text_field :body, class: "..."%>
	
	<%= f.submit "保存", class: "..." %>
	<% end %>

<%= link_to "投稿一覧へ戻る", articles_path, class: "btn" %>