<h2>タイトル</h2>
<p><%= @article.title %></p>
<h2>コメント</h2>
<p><%= @article.body %></p>

<% if @article.image? %>
		<%= image_tag @article.image.url %>
		<% else %>
		<p>画像がありません</p>
<% end %>

<br>

<%= link_to "編集", edit_article_path(@article.id), class: "btn edit-btn" %>
<%= link_to "削除", article_path(@article.id), method: :delete, class: "btn destroy-btn", "data-confirm" => "本当に削除しますか？" %>

<%= link_to "タイムラインへ戻る", articles_path, class: "btn" %> 
<%= link_to "新しいコーディネート" ,new_article_path, class: "btn" %>
