<%= stylesheet_link_tag  "css/articles/show", :media => "all" %>

<div class="container">
	<div class="row">
		<%= render 'articles/article', article: @article %>
		<div class="col-lg-offset-2 col-lg-4 col-md-offset-1 col-md-4 col-xs-12">
			<div class="row">
				<% if current_user.id == @article.user_id %>
					<%= link_to "編集", edit_article_path(@article.id), class: "col-xs-12 link btn edit-btn" %>
					<%= link_to "削除", article_path(@article.id), method: :delete, class: "col-xs-12 link btn destroy-btn", "data-confirm" => "本当に削除しますか？" %>
				<% end %>

				<%= link_to "タイムライン", articles_path, class: "col-xs-12 link btn" %>
				<%= link_to "新しいコーデ", new_article_path, class: "col-xs-12 link btn" %>

				<h2>コメント</h2>
				<%= form_for [@article, @comment] do |f| %>
					<%= f.hidden_field :user_id, :value => current_user.id %>
					<%= f.text_area :body, class: "...", :rows => 2 %>
					<br>
					<%= f.label :image %>
					<%= f.file_field :image %>
					<%= f.submit 'コメントする' %>
				<% end %>


				<% @article.comments.each do |comment| %>
					<p><%= link_to comment.try(:user).name %></p>
					<p><%= comment.body  %></p>
					<% if comment.image? %>
					 	<%= image_tag comment.image %>
					<% end %>
					<% if current_user.id == comment.user_id %>
						<small>
							<%= link_to "コメント削除", [@article, comment], method: :delete, class: "btn destroy-btn", "data-confirm" => "Are you sure?" %>
						</small>
					<% end %>

				<% end %>
			</div>
		</div>
	</div>
</div>