<!-- プロフィール画像 -->
<div class="col-xs-12 col-md-6">
  <div class="border image_profile background_color">
    <% if @user.image? %>
      <%= image_tag(@user.image.url, :size => "240x240") %>
    <% else %>
      <%= image_tag('/No_image.png', :size => "240x240") %>
    <% end %>
  </div>
</div>

<div class="col-xs-12 col-md-6">
  <div class="row border">
    <!-- ユーザー名 -->
    <div class="col-xs-8 margin background_color text_center">
      <span class="user_name">
        <%= @user.name %>
      </span>
    </div>

    <!-- フォロー(他人ページ)、編集（自分ページ） -->
    <div class="col-xs-4 margin background_color">
      <% if @user.id != current_user.id %>
        <% if @user.followed_by? current_user %>
          <%= link_to "フォローする", user_relationships_path(@user.id), method: :delete, class: "follow not_follow" %>
        <% else %>
          <%= link_to "フォロー中", user_relationships_path(@user.id), method: :post, class: "follow followed" %>
        <% end %>
      <% else %>
        <%= link_to "編集", edit_user_path(@user.id), class: "edit btn edit-btn followed" %>
      <% end %>
    </div>

    <div class="col-xs-12 figure background_color margin">
      <ul class="row">
        <!-- 投稿数 -->
        <li class="col-xs-4 each">
          <%= link_to user_path(@user) do %>
            <div class="text">投稿数</div>
            <div class="num"><%= @user.articles.count %></div>
          <% end %>
        </li>

        <!-- フォロー数 -->
        <li class="col-xs-4 each">
          <%= link_to follows_user_path(@user) do %>
            <div class="text">フォロー</div>
            <div class="num"><%= @user.followings.count %></div>
          <% end %>
        </li>

        <!-- フォロワー数 -->
        <li class="col-xs-4 each">
          <%= link_to followers_user_path(@user) do %>
            <div class="text">フォロワー</div>
            <div class="num"><%= @user.followers.count %></div>
          <% end %>
        </li>

        <!-- いいね数 -->
        <li class="col-xs-4 each">
          <%= link_to favorites_user_path(@user) do %>
            <div class="text">いいね</div>
            <div class="num"><%= @user.favorites.count %></div>
          <% end %>
        </li>

        <!-- 性別 -->
        <li class="col-xs-4 each">
          <div class="text">性別</div>
          <div class="num"><%= @user.gender %></div>
        </li>

        <!-- 国 -->
        <li class="col-xs-4 each">
          <div class="text">国</div>
          <div class="num"><%= @user.country %></div>
        </li>
      </ul>
    </div>

    <!-- プロフィール -->
    <div class="col-xs-12 background_color text_profile">
      <%= @user.profile %>
    </div>
  </div>
</div>