<h1>マイコメント</h1>
<p>コメント数</p>
<div class="num"><%= @user.comments.count %></div>
<br>
<% if @user.comments.empty? %>
	<p>まだコメントしていません</p>
<% end %>

<h2>コメント</h2>
<% @user.comments.each do |comment| %>
	<p><%= link_to comment.try(:user).name %></p>
	<p><%= comment.body  %></p>
	<% if comment.image? %>
		<%= image_tag comment.image %>
	<% end %>
	<% if current_user.id == comment.user_id %>
		<small>
			<%= link_to "コメント削除", [@article, comment], method: :delete, class: "btn destroy-btn", "data-confirm" => "Are you sure?" %>
		</small>
	<% end %>
<% end %>

<%= paginate @comments %>