<%= stylesheet_link_tag  "css/users/comments", :media => "all" %>

<div class="container">
	<div class="row">
		<div class="box_main">
			<div class="col-md-offset-3 col-md-6 col-xs-12 text border background_color">
				<% if @user.comments.empty? %>
					まだコメントしていません
				<% else %>
					マイコメント <%= @user.comments.count %>件
				<% end %>
			</div>
		</div>


		<div class="comment">
			<% @user.comments.each do |comment| %>
				<div class="col-md-offset-3 col-md-6 col-xs-12 comment_under"></div>
				<div class="col-md-offset-3 col-md-6 col-xs-12 box_comment">
					<div class="image_profile">
						<% if comment.user.image.present? %>
					    	<%= link_to image_tag(comment.user.image.url, {:size => "30x30"}), user_path(comment.user.id) %>
					    <% else %>
					    	<%= image_tag '画像がありません' %>
					    <% end %>
					</div>
					<div class="user_name"><%= link_to comment.try(:user).name %></div>
					<div class="image">
						<% if comment.image? %>
					 		<%= image_tag(comment.image, :size => "300x300") %>
						<% end %>
					</div>
					<div class="text"><%= comment.body %></div>
				</div>
			<% end %>
		</div>
	</div>
</div>
<%= paginate @comments %>