<%= stylesheet_link_tag  "css/users/follows", :media => "all" %>



<!-- <ul>
    <li>
      <%= link_to user_path(@user) do %>
        <div class="text">投稿数</div>
        <div class="num"><%= @user.articles.count %></div>
      <% end %>
    </li>
    <li>
    </li>
    <li>
      <%= link_to followers_user_path(@user) do %>
        <div class="text">フォロワー</div>
        <div class="num"><%= @user.followers.count %></div>
      <% end %>
    </li>
    <li>
      <%= link_to favorites_user_path(@user) do %>
        <div class="text">いいね一覧</div>
        <div class="num"><%= @user.favorites.count %></div>
      <% end %>
    </li>
</ul> -->


<%#= link_to follows_user_path(@user) do %>
  <!-- <div class="text">フォロー</div>
  <div class="num"><%#= @user.followings.count %></div> -->
<%# end %>


<div class="container">
  <div class="row">
    <div class="user_info">
      <%= render 'users/profile' %>
    </div>

    <% if @user.followings.empty? %>
      <div class="col-xs-12 list-group-item">
        まだフォローしているひとはいません。
      </div>
    <% else %>
      <div class="col-xs-12 border background_color box_main">
        <div class="text">フォロー <%= @user.followings.count %>件</div>
      </div>
      <% @user.followings.each do |u| %>
        <%= render 'users/relationships', u: u %>
      <% end %>
    <% end %>
  </div>
</div>





