<%= stylesheet_link_tag  "css/users/show", :media => "all" %>

<div class="container">
  <div class="row user_info">
    <%= render 'users/profile' %>
  </div>



<!-- 森山くんが作ってくれた部分、一応残しておく -->
 <!--  <div class="row">
    <% @user.articles.each do |article| %>
        <h4 class="user">
            <span class="user-name">
              <%= link_to article.user.email, user_path(article.user) %>
            </span>
        <span class="user-id"><%= article.user.email %></span>
        </h4>
        <div class="article-body">
            <%= article.body %>
        </div>
    <% end %> -->


    <%# @articles.each do |article| %>
      <%#= link_to article.title, article_path(article.id) %>
      <%# if article.image.present? %>
      	<%#= image_tag article.image.url %>
      <%# end %>
      <!-- <%#= article.body %> -->
    <%# end %>

  <div class="row">
    <% @articles.each do |article| %>
      <%= render 'articles/article', article: article %>
    <% end %>
  </div>


  </div>
</div>