<h2>ユーザー名</h2>
<p><%= @user.name %></p>
<!-- <h2>メールアドレス</h2> -->
<!-- <p><%= @user.email %></p> -->
<h2>プロフィール画像</h2>
<p>
	<% if @user.image? %>
    	<%= image_tag @user.image.url %>
    <% else %>
    	<%= image_tag '画像がありません' %>
    <% end %>
</p>
<h2>プロフィール</h2>
<p><%= @user.profile %></p>
<h2>性別</h2>
<p><%= @user.gender %></p>
<h2>国名</h2>
<p><%= @user.country %></p>

<%= link_to "編集", edit_user_path(@user.id), class: "btn edit-btn" %>
<ul>
    <li>
      <%= link_to user_path(@user) do %>
        <div class="text">投稿数</div>
        <div class="num"><%= @user.articles.count %></div>
      <% end %>
    </li>
    <li>
      <%= link_to favorites_user_path(@user) do %>
        <div class="text">いいね一覧</div>
        <div class="num"><%= @user.favorites.count %></div>
      <% end %>     
    </li>
</ul>

<% @user.articles.each do |article| %>
    <h4 class="user">
        <span class="user-name">
          <%= link_to article.user.email, user_path(article.user) %>
        </span>
    <span class="user-id"><%= article.user.email %></span>
    </h4>
    <div class="article-body">
        <%= article.body %>
    </div>  
<% end %>

<% @articles.each do |article| %>
  <%= link_to article.title, article_path(article.id) %>
  <% if article.image.present? %>
  	<%= image_tag article.image.url %>
  <% end %>
  <!-- <%= article.body %> -->
<% end %>

