<h2>ユーザー名</h2>
<p><%= @user.name %></p>
<!-- <h2>メールアドレス</h2> -->
<!-- <p><%= @user.email %></p> -->
<h2>プロフィール画像</h2>
<p>
	<% if @user.image? %>
    	<%= image_tag @user.image.url %>
    <% else %>
    	<%= image_tag '画像がありません' %>
    <% end %>
</p>
<h2>プロフィール</h2>
<p><%= @user.profile %></p>
<h2>性別</h2>
<p><%= @user.gender %></p>
<h2>国名</h2>
<p><%= @user.country %></p>

<%= link_to "編集", edit_user_path(@user.id), class: "btn edit-btn" %>
<li>
      <%= link_to follows_user_path(@user) do %>
        <div class="text">フォロー</div>
        <div class="num"><%= @user.followings.count %></div>
      <% end %>
    </li>
    <li>
      <%= link_to followers_user_path(@user) do %>
        <div class="text">フォロワー</div>
        <div class="num"><%= @user.followers.count %></div>
      <% end %>
    </li>

<% @articles.each do |article| %>
  <%= article.title %>
  <!--<%= article.image.url %> -->
  <%= article.body %>
<% end %>