<%= form_for(sty_li_sh) do |f| %>
  <% if sty_li_sh.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(sty_li_sh.errors.count, "error") %> prohibited this sty_li_sh from being saved:</h2>

      <ul>
      <% sty_li_sh.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :title %>
    <%= f.text_field :title %>
  </div>

  <div class="field">
    <%= f.label :body %>
    <%= f.text_area :body %>
  </div>

  <div class="field">
    <%= f.label :author %>
    <%= f.text_field :author %>
  </div>

  <div class="field">
    <%= f.label :image %>
    <%= f.file_field :image %> 
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
