<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @sty_li_sh.title %>
</p>

<p>
  <strong>Body:</strong>
  <%= @sty_li_sh.body %>
</p>

<p>
  <strong>Author:</strong>
  <%= @sty_li_sh.author %>
</p>

<%= link_to 'Edit', edit_sty_li_sh_path(@sty_li_sh) %> |
<%= link_to 'Back', sty_li_shes_path %>
