<!DOCTYPE html>
<html>
  <head>
    <title>STYLiSH</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

    <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="css/bootstrap.min.css">

        <script src="js/jquery-2.1.1.min.js"></script>
        <script src="js/bootstrap.min.js"></script>

       <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/paradeiser/0.4.2/min/paradeiser.min.css">

<!--[if lt IE 9]>
      <script src="//cdnjs.cloudflare.com/ajax/libs/html5shiv/r29/html5.min.js">
      </script>
    <![endif]-->
    
  </head>
  <body>
    
    <nav class="paradeiser">
      <h6>STYLiSH</h6>
    
      <% if current_user.present? %>
        <%= link_to "Timeline", articles_path %>
        <%= link_to "MyPage", user_path(current_user) %>
        <%= link_to "NewCoordinate", new_article_path %>      
        
      <div class="paradeiser_dropdown">
        <a href="#paradeiser-more" id="paradeiser-dropdown">
            <span>More</span>
        </a>
        <ul class="paradeiser_children" id="paradeiser-more">
            <li><%= link_to "Users", users_path %></li>
            <li><%= link_to "MyComments", comments_user_path(current_user) %></li>
            <li>
              Logged in as <%= current_user.name %>
              <%= link_to "Logout", destroy_user_session_path, method: :delete %>
            </li>
            <li><%= link_to "EditMyProfile", edit_user_path(current_user.id), class: "edit btn edit-btn" %></li>
            <li><%= link_to "STYLiSH", articles_path %></li>
            <li id="greybox"><a href="#!"></a></li>
        </ul>
      </div>
      <% end %>
    </nav>

  	

    <div class="container">
      <%= yield %>
      <%= render 'layouts/footer' %>
    </div>
    <script src="//cdnjs.cloudflare.com/ajax/libs/headroom/0.7.0/headroom.min.js"></script>
    <script>
 // enabling to open the overflow menu as the pure css link
    // would toggle a scroll and therefore hide the menu
    document.getElementById("paradeiser-dropdown").addEventListener("click", function(event){
        // stopping the scroll
        event.preventDefault();
        // toggling the class
        document.getElementById("paradeiser-more").classList.toggle("open");
    });
 
    // hide the menu on click onto greybox
    document.getElementById("greybox").addEventListener("click", function(event){
        // stopping the scroll
        event.preventDefault();
        // toggling the class
        document.getElementById("paradeiser-more").classList.remove("open");
    });
 
    // enabling headroom
    var myElement = document.querySelector(".paradeiser");
    var headroom  = new Headroom(myElement, {
        tolerance : 5,
        onUnpin : function() {
            document.getElementById("paradeiser-more").classList.remove("open");
        }
    });
    headroom.init();
</script>

  </body>
</html>
